/* HEADER */

.container-header {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 80%;
  height: 4em;
}

/* LOGO */

.container-logo {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-left: 1em;
}

.container-logo span {
  color: #fff;
  font-size: x-large;
  font-weight: 500;
}

/* NAVBAR */

.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.container-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container-nav ul li {
  list-style: none;
  padding: 0 1em;
}

.container-nav ul li span {
  color: #ffffff;
  text-decoration-line: none;
  font-size: x-large;
  font-weight: 500;
}

/* USERLOG */

.container-userlog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
}

.container-userlog span {
  color: #ffffff;
  margin-left: 1em;
  font-size: x-large;
  font-weight: 500;
}

.btn-user {
  width: 80px;
  height: 40px;
  margin-right: 1em;
  background-color: #494949;
  color: #ffffff;
  font-size: large;
  font-weight: 500;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}