/* HEADER */

.container-header {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 75%;
  height: 2.5em;
  box-shadow: 0 6px 12px #22222290;
}

/* NAVBAR */

.container-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 100%;
}

.container-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container-nav ul li {
  list-style: none;
  padding: 0 1em;
}

.container-nav ul li span {
  color: #222222;
  text-decoration-line: none;
  font-size: 1em;
  font-weight: 700;
}

/* LOGO */

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.container-logo span {
  color: #222222;
  font-size: 1em;
  font-weight: 700;
}

/* SVG ICON */

.container-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 100%;
  padding-right: 1em;
}

.container-menu svg {
  margin: .5em;
}